* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(back.jpg);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #555;
}

.btn-home {
  background-color: #1F7597; 
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.btn-home:hover {
  background-color: #1f7597;
}

.btn-files {
  background-color: #1F7597; 
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.btn-files:hover {
  background-color: #1f7597;
}

.btn-bgg {
  background-color: #1F7597; 
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.btn-bgg:hover {
  background-color: #1f7597;
}

.btn-pp {
  background-color: #1F7597; 
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

.btn-pp:hover {
  background-color: #1f7597;
}

.wrapper {
    width: 90%;
    position: absolute;
    top: 600px;
    left: 45%;
    transform: translate(-50%, -50%);
    background-color: none;
    overflow: hidden;
}

.player-0-panel {
    color: black;
    float: left;
    height: 300px;
    padding: 100px;
}

button {
    position: absolute;
    width: 150px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: #1F7597;
    border: none;
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 600; }
button:hover { margin-right: 20px; }

button:focus {
    outline: none;
}

 {
    color: #EB4D4D;
    background-color: #1F7597;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.btn-roll { top: 250px;}
.btn-home { left: 35%;}
.btn-files { left: 10%;}
.btn-bgg { left: 90%;}
.btn-pp { left: 65%;}


/*.dice-selected { border: 3px solid red; }*/

.diceimg{
  width: 150px; 
  height: 150px;
}

.container{
  width: 100%;
  max-height: 500px;
  overflow: auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.base{
    display: none;
}

.arcade{
  display: none;
}

.blazing-red{
  display: none;
}

.deep-blue{
  display: none;
}

.eldritch{
  display: none;
}

.electricity{
  display: none;
}

