@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arima Madurai', cursive;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(255, 255, 255) rgb(0, 0, 0);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(63, 63, 63);
  border-radius: 20px;
  border: 1px solid rgb(0, 0, 0);
}

html{
  scroll-behavior:smooth;
}

body{
  background-image: linear-gradient(rgba(63, 131, 163, 0.7), rgba(0, 0, 0, 0.4)), url(back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px 0px;
}

p.ex1 {
	margin-top: 5%;
	margin-left: 10%;
	font-size: 40px;
}

.navbar{
    background: rgba(4, 3, 3, 0.8);
    height: 70px;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile{
  display: none;
}

.item{
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
  color: white;
  margin-left: 50px;
  margin-right: 50px;
}

.mobile-item{
  font-size: .75rem;
  font-weight: 400;
  margin-left: 10px;
  margin-right: 10px;
}

.icon{
  text-decoration: none;
  color: white;
}

.myLinks{
  display: flex;
  flex-direction: row;
  display: none;
}

.item:hover{
  color: #C5A880;
}

.container{
  width: 100%;
}

.upper{
  height: calc(100vh - 70px);
  padding-top: 150px;
  text-align: center;
}

.btn-1{ position: absolute; top: 22%;}
.btn-2{ position: absolute; top: 27%;}
.btn-3{ position: absolute; top: 32%;}
.btn-4{ position: absolute; top: 37%;}
.btn-5{ position: absolute; top: 42%;}
.btn-6{ position: absolute; top: 47%;}
.btn-7{ position: absolute; top: 52%;}
.btn-8{ position: absolute; top: 57%;}
.btn-9{ position: absolute; top: 62%;}
.btn-10{ position: absolute; top: 67%;}

/*** Mobile optimization ***/

@media only screen and (max-width: 1020px) {
  .desktop{
    display: none;
  }
  .mobile{
    display: flex;
  }
}

@media only screen and (max-width: 600px) {
  .upper{
    padding-top: 50px;
  }
}

